*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;;
}

*::selection{
    color: white;
    background-color: black;
}

#nav{
    height: 120px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 99;
}

#nav-svg svg{
    display: block;
}

#nav-svg{
    height: 82px;
    overflow: hidden;
}

#nav #nav-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#icon{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part #links a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin: 0 30px;
}

#nav-part #icon i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100px;
}

#cursor{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    position: fixed;
    border-radius: 50%;
    transform: translate(50px,50px) scale(0);
}

#page-1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page-1 h1{
    font-size: 15.8vw;                                                                                         ;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vh;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2vw;
    position: fixed;
    font-size: 2vw;
    border-radius: 50%;
    background-color: black;
    color: floralwhite;
    font-family: futura;
    opacity: 0;
    scale: 0;
}

#page-2{
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 3vw 1vw;
    display: flex;
    justify-content: space-between;
}

#page-2 .elem{
    height: 100%;
    width: 32%;
    /* background-color: blue; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

#page-2 .elem .dets{
    height: 50px;
    border-radius: 50px;
    width: 60%;
    position: absolute;
    background-color: palegoldenrod;
}

#page-2 .elem .dets:hover{
    height: 200px;
}

#page-3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 70vh;
    width: 40vw;
    position: relative;
    
    
}

#page-3 .child img{
    height: 100%;
    width: 100%;
    
}

@media(max-width:600px) {
    
    #nav{
    height: 120px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 99;
}

#nav-svg svg{
    display: block;
}

#nav-svg{
    height: 82px;
    overflow: hidden;
}

#nav #nav-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#icon{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part #links a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin: 0 30px;
}

#nav-part #icon i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100px;
}
    
    #page-1{
        min-height: 65vh;
        width: 100%;
        padding: 0 2vw;
        padding-top: 20vh;
    }
    
    #page-1 h1{
        font-size: 15.5vw; 
        line-height: 14vw;
        letter-spacing: -2px;
    }

    #video-container{
        height: 25vh;
        margin-top: 3vh;
    }

    #video-container #play{
        padding: 8vw 6vw;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4vw;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    
    #page-2{
        min-height: 300vh;
        width: 100%;
        position: relative;
        align-items: center;
        padding: 5vw 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: aqua;
    }

    #page-2 .elem{
        min-height: 70vh;
        width: 100%;
        /* background-color: blue; */
        overflow: hidden;
        margin-top: 5vw;
    }
    
    #page-2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.2;
    }

    #page-2 .elem .dets{
        height: 30px;
        border-radius: 10px;
        width: 60%;
        position: absolute;
        z-index: 9;
        background-color: palegoldenrod;
    }
    
    #page-2 .elem .dets:hover{
        height: 80px;
    }

    #page-3{
        min-height: 120vh;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
    }
    
    .child{
        height: 70vh;
        width: 40vw;
        position: relative;
        
        
    }
    
    #page-3 .child img{
        height: 100%;
        width: 100%;
        
    }
    
    
}